/*** Base ***/

/*** Fonts ***/

@font-face {
    src: url(../fonts/Matroska.ttf);
    font-family: Matroska;
}

@font-face {
    src: url(..//fonts/Axiforma/Axiforma-Medium.ttf);
    font-family: Axiforma;
}

/*** Color variables ***/

:root {
    --light: #e6e6e6;
    --placeholder-grey: #616161;
    --dark: #292929;
    --translucent-dark-1: rgba(25, 27, 25, 0.1);
    --translucent-dark-2: rgba(25, 27, 25, 0.2);
    --translucent-dark-3: rgba(25, 27, 25, 0.3);
    --translucent-dark-4: rgba(25, 27, 25, 0.4);
    --translucent-dark-5: rgba(25, 27, 25, 0.5);
    --translucent-dark-6: rgba(25, 27, 25, 0.5);
}

/*** Scrollbar ***/

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--dark);
    border-radius: 100px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--dark);
  }
  ::-webkit-scrollbar-thumb:active {
    background: var(--dark);
  }
  ::-webkit-scrollbar-track {
    background: var(--light);
    border-radius: 100px;
  }
  ::-webkit-scrollbar-track:hover {
    background:  transparent;
  }
  ::-webkit-scrollbar-track:active {
    background: transparent;
  }
  ::-webkit-scrollbar-corner {
    background:  transparent;
  }
  
/*** Reset ***/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*** Layout ***/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: var(--light);
    color: var(--dark);
    font-size: 1em;
    text-transform: uppercase;
}

main {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 95%;
    height: fit-content;
}

section {
    display: flex;
    height: fit-content;
    padding: 10% 0;
    margin-bottom: 2%;
    border-bottom: 1px solid var(--translucent-dark-3);
}

/*** Noise ***/

.noise {
    background-image: url(../img/noise.png);
    animation: noise 1s steps(10) infinite;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    position: fixed;
    opacity: 70%;
}

@keyframes noise {
    0%, 100% {
        background-position: 0 0;
    }
    10% {
        background-position: -80% 10%;
    }
    20% {
        background-position: -50% 40%;
    }
    30% {
        background-position: -30% 5%;
    }
    40% {
        background-position: -90% 40%;
    }
    50% {
        background-position: -5% 70%;
    }
    60% {
        background-position: -50% 15%;
    }
    70% {
        background-position: -90% 5%;
    }
    80% {
        background-position: -10% 95%;
    }
    90% {
        background-position: -70% 45%;
    }
}

/*** Font generals ***/

h1 {
    font-family: Matroska;
    font-size: 4.375em;
    letter-spacing: 2px;
    margin-bottom: 8%;
    line-height: 60px;
    transition: letter-spacing 7s;
}

h2 {
    font-family: Matroska;
    font-size: 30px;
    margin-bottom: 15px;
}

h3 {
    font-family: Matroska;
    font-size: 1.1em;
    letter-spacing: 2px;
    line-height: 55px;
}

.section-number {
    font-family: Axiforma;
    font-size: 10px;
    letter-spacing: 3px;
    margin-bottom: 5%;
    color: var(--translucent-dark-5);
}    

p {
    font-family: Axiforma;
    font-size: 11px;
    letter-spacing: 3px;
}

.text {
    width: 40%;
}

.hello-description {
    font-family: Axiforma;
    font-size: 11px;
    letter-spacing: 3px;
}

.description {
    font-family: Axiforma;
    font-size: 7px;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
}

/*** Breakpoint 1 at 1200px ***/

@media (max-width: 1200px) {
    h1 {
        font-size: 3.5em;
        line-height: 52px;
    }

    body {
        text-align: center;
    }
    
    section {
        align-items: center;
    }

    h2 {
        text-align: left;
    }
}

/*** Breakpoint 2 at 950px ***/

@media (max-width: 950px) {
    h1 {
        font-size: 2.7em;
        line-height: 42px;
    }
}

/*** Breakpoint 3 at 750px ***/

@media (max-width: 750px) {
    main {
        width: 90%;
    }

    section {
        margin-bottom: 5%;
    }

    h1 {
        font-size: 1.9em;
        line-height: 28px;
    }
    
    .text {
        width: 60%;
    }
}

/*** Breakpoint 4 at 500px ***/

@media (max-width: 500px) {
    main {
        width: 85%;
    }

    h1,
    h2,
    h3 {
        font-size: 1.1em;
        line-height: 19px;
    }
    
    .text {
        width: 80%;
    }
}