/*** Footer ***/

footer {
    /*Flex*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*Box style*/
    width: 95%;
    height: 10%;
    margin-bottom: 2%;
    padding: 7rem 0;
    background-color: var(--dark);
    /*Font*/
    color: var(--light);
}

.nav-footer {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-bottom: 25px;
}

.ul-nav-footer {
    display: flex;
}

.item-nav-footer {
    font-family: Axiforma;
    font-size: 10px;
    list-style: none;
    letter-spacing: 3px;
    margin: 15px;
    z-index: 4;
    transition: letter-spacing 1s;
}

.a-footer {
    text-decoration: none;
    color: var(--light);
}

.item-nav-footer:hover {
    letter-spacing: 7px;
}

.footer-media-icons {
    height: 80px;
    z-index: 4;
}

.footer-media-icons i  {
    font-size: 25px;
    color: var(--light);
    opacity: 80%;
    padding: 0 25px;
    box-sizing: none;
    transition: 1s;
}

.footer-media-icons i:hover {
    font-size: 30px;
}

.footer-text {
    font-size: 8px;
    text-align: center;
    opacity: 80%;
}

/*** Breakpoint 1 at 950px ***/

@media (max-width: 950px) {
    footer {
        padding: 6rem 0 ;
        height: 8%;
    }
    .nav-footer {
        display: none;
    }
}

/*** Breakpoint 3 at 750px ***/

@media (max-width: 750px) {
    footer {
        width: 90%;
    }
}

/*** Breakpoint 2 at 500px ***/

@media (max-width: 500px) {
    footer {
        width: 85%;
        padding: 1.5rem 0;
        box-sizing: none;
    }

    .footer-media-icons i  {
        padding: 0 12px;
    }

    .footer-media-icons {
        height: 40px;
        z-index: 4;
    }
    
}
