/*** Header ***/

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 95%;
    /* position: fixed; */
    height: 80px;
    border-bottom: var(--translucent-dark-3);
    background-color: var(--light);
}

.nav-header {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.ul-nav-header {
    display: flex;
}

/*** Nav items ***/

.item-nav-header {
    font-family: Axiforma;
    font-size: 10px;
    list-style: none;
    letter-spacing: 3px;
    margin-left: 30px;
    z-index: 52;
    transition: letter-spacing 1s;
}

.a-nav {
    text-decoration: none;
    color: var(--dark);
}

.item-nav-header:hover {
    letter-spacing: 7px;
}

.ul-nav-header:nth-last-child {
   padding: 5px;
   border: 1px;
   box-sizing: none;
}

.ul-nav-header:nth-last-child {
    padding: 5px;
    border: 1px;
    box-sizing: none;
}

/*** Menu hamburguesa ***/

.menu-header {
    display: none !important;
    align-self: center;
    justify-self: center;
    z-index: 4;
}

/*** Breakpoint 1 at 1200px ***/

@media (max-width: 1200px) {
    header {
        justify-content: center;
    }
}

/*** Breakpoint 2 at 950px ***/

@media (max-width: 950px) {
    header {
        border-bottom: none;
    }

    .nav-header {
        display: none;
    }

    .menu-header {
        display: flex !important;
        align-self: center;
        justify-self: center;
        color: var(--translucent-dark-5);
    }
}