header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 95%;
    height: 80px;
    z-index: 6;
    border-bottom: 1px solid var(--translucent-dark-2);
}

.nav-header {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.ul-nav-header {
    display: flex;
}

/*** Nav items ***/

.item-nav-header {
    font-family: Axiforma;
    font-size: 10px;
    list-style: none;
    letter-spacing: 3px;
    margin-left: 30px;
    transition: letter-spacing 1s;
}

.a-nav {
    color: var(--dark);
}

.item-nav-header:hover {
    letter-spacing: 7px;
}

.ul-nav-header:nth-last-child {
   padding: 5px;
   border: 1px;
   box-sizing: none;
}

/*
  *********************************** 
          Hamburguer Button
  ***********************************
*/

.header-hidden-menu {
    display: none !important;
    justify-self: center;
    align-self: center;
}

#hamburguer-menu {
    display: block;
    position: relative;
  
    -webkit-user-select: none;
    user-select: none;
}

#hamburguer-menu input {
    display: block;
    width: 33px;
    height: 27px;
    position: absolute;
  
    cursor: pointer;
  
    opacity: 0;
    z-index: 7;
  
    -webkit-touch-callout: none;
}

#hamburguer-menu input:checked ~ ul
{
    transform: none;
    z-index: 3;
}

/*
 * Hamburguer 
 */

#hamburguer-menu span {
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 3px;
    position: relative;
  
    background: var(--translucent-dark-3);
    border-radius: 3px;

  
    transform-origin: -1px 1px;
  
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.6s ease;
}

#hamburguer-menu span:first-child {
    transform-origin: 0% 0%;
}

#hamburguer-menu span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* 
 * Crossmark
 */

#hamburguer-menu input:checked ~ span {
    opacity: 1;
    transform: rotate(25deg) translate(-2px, -1px);
}

#hamburguer-menu input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#hamburguer-menu input:checked ~ span:nth-last-child(2) {
    transform: rotate(-25deg) translate(0, -1px);
}

/*
 * Menu
 */

#menu {
    display: flex;
    flex-direction: column;
    align-content: center;
    position: absolute;

    width: 90vw;
    height: fit-content;
    margin-top: -60px;
    margin-left: calc(-45vw + 16px);
    padding: 50px;
    padding-top: 100px;
  
    background-color: var(--translucent-dark-1);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
  
    transform-origin: -50% 0%;
    transform: translateY(-100%);
  
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
    display: flex;
    align-self: center;
    font-family: Axiforma;
    font-size: 10px;
    letter-spacing: 3px;
    padding: 10px 0;
    transition: letter-spacing 1s;
    color: var(--dark);

    width: fit-content;

    z-index: 7;
}

#menu li:hover {
    letter-spacing: 7px;
}

#menu a {
    color: var(--dark);

    width: fit-content;
}

/*
  *********************************** 
            Responsiveness
  ***********************************
*/

/*** Breakpoint 1 at 1200px ***/

@media (max-width: 1200px) {
    header {
        justify-content: center;
        position: relative;
    }
}

/*** Breakpoint 2 at 950px ***/

@media (max-width: 950px) {
    header {
        border-bottom: none;
        background-color: transparent;
    }

    .nav-header {
        display: none;
    }

    .header-hidden-menu {
        display: flex !important;
    }
}

/*** Breakpoint 2 at 500px (Hamburguer menu) ***/

@media (max-width: 500px) {
    #menu {
        width: 85vw;
        margin-left: calc(-42vw + 12px);
    }
}