/*** Hello section ***/

.hello-section {
    /*Flex*/
    justify-content: left;
    flex-direction: row;
    /*Box style*/
    min-height: calc(100% - 80px);
}

.hello-information {
    display: flex;
    flex-direction: column;
    width: 50%;
}

/*** Breakpoint 1 at 1200 ***/

@media (max-width: 1200px) {

    .hello-section {
        flex-direction: column;
    }

    .hello-information {
        width: 100%;
    }
}

/*** Breakpoint 2 at 950px ***/

@media (max-width: 950px) {

    .hello-information {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .hello-description {
        width: 80%;
    }
}