.hello-section {
    justify-content: left;
    flex-direction: row;
    min-height: calc(100vh - 80px);
    text-align: left;
}

.hello-information {
    display: flex;
    flex-direction: column;
    width: 50%;
}

/*
  *********************************** 
            Responsiveness
  ***********************************
*/

/*** Breakpoint 1 at 1200 ***/

@media (max-width: 1200px) {

    .hello-section {
        flex-direction: column;
        text-align: center;
}
    }

    .hello-information {
        width: 100%;
    }
}

/*** Breakpoint 2 at 950px ***/

@media (max-width: 950px) {

    .hello-section {
        min-height: fit-content;
    }

    .hello-information {
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .hello-description {
        width: 80%;
    }
}