/*** Projects section ***/

.projects-section {
    flex-direction: column;
    border-top: 1px solid var(--translucent-dark-3);
}

.projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: none;
    margin-top: 5%;
    margin-bottom: 0;
    padding: 0 5%;
}

.project {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 30px;
    background-color: var(--translucent-dark-2);
    border-radius: 30px;
    text-decoration: none;
    z-index: 4;
    transition: 1s;
}

.project:hover {
    background-color: var(--translucent-dark-1);
}

.project-title {
    font-family: Axiforma;
    font-size: 12px;
    letter-spacing: 3px;
    text-align: center;
    text-decoration: none;
    color: var(--dark);
}

/*** Breakpoint 1 at 500px ***/

@media (max-width: 500px) {
    .projects-container {
        padding: 0;
    }
}
 
/*** Breakpoint 2 at 350px ***/

@media (max-width: 350px) {
    .project {
        width: 100%;
        height: auto;
    }

      .project:after {
        content: "";
        padding-bottom: 100%;
      }
}
