/*** Quote section ***/

.quote-section {
    flex-direction: column; 
    align-items: center;
    border-bottom: none;
    background-color: var(--dark);
    font-family: Axiforma;
    color: var(--light);
    text-align: center;
}

.quote-section-number {
    font-size: 10px;
    letter-spacing: 3px;
    margin-bottom: 5%;
}   

.quote-text {
    font-size: 11px;
    letter-spacing: 3px;
    width: 40%;
    margin-bottom: 35px;
}
 
.quote-section i {
    font-size: 65px;
    color: var(--light);
    margin-bottom: 5%;
}

/*
  *********************************** 
            Responsiveness
  ***********************************
*/

/*** Breakpoint 1 at 950px ***/

@media (max-width: 950px) {
    .quote-section {
        padding: 25% 8%;
    }

    .quote-text {
        width: 85%;
    }

    .quote-section i {
        font-size: 50px;
        margin-bottom: 11%;
    }  
}